# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.TheGalePrequel.iml
# Datasource local storage ignored files
/../../../../../../../../:\MaxCode\Unity-elnuir\GalePrequelGit\TheGalePrequel\.idea\.idea.TheGalePrequel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
